body {
  background-color: #1c1d1e;
}
a {
  color: #69821b;
}
h1 {
  color: #69821b;
  font-family: 'PT Sans', sans-serif;
}
.title {
  color: #69821b;
  margin-top: 0px;
  font-family: 'PT Sans', sans-serif;
}
.studyDay {
  color: #69821b;
  margin-top: 0px;
  font-family: 'PT Sans', sans-serif;
}